ul{
    display: flex;
}

li{
    list-style: none;
}

.main-content{
    width: var(--container-size);
    margin-top: 70px;
}

.filters-section{
    margin-top: 70px;
}

.filters-list{
    max-width: var(--full-percent);
    flex-wrap: wrap;
}

.filters-list-item{
    gap: 10px;
}

.range-section{
    margin-top: 70px;

    color: var(--color-grey-1);
    font-weight: 600;
}

.value-range{
    margin-top: 35px;
    width: var(--full-percent);
}

.album-list{
    margin-top: 70px;

    width: var(--full-percent);

    flex-wrap: wrap;

    color: var(--color-grey-1);
    font-weight: 600;
}

.album-list > ul {
    flex-wrap: wrap;
}

.album{
    margin-top: 60px;
    margin-left: 25px;
    margin-bottom: 40px;
    
    width: 300px;
    background-color: var(--color-grey-8);

    border-radius: 8px;
}

.album-footer{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
