.logo{
    font-size: 28px;
    font-weight: 600;

    color: var(--color-grey-1);
}

.title{
    font-size: 16px;
    font-weight: 600;

    color: var(--color-grey-1);     
}

.album-image{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.album-phrase{
    margin-top: 20px;
    margin-left: 20px;

    font-size: 12px;
    font-weight: 500;

    color:var(--color-grey-2)
}

.album-name{
    margin-top: 20px;
    margin-left: 20px;
}

.album-value{
    font-size: 14px;
}